<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Insert the head fragment for the head from the layout template that is in the layout folder -->
<head th:replace="layout/layout :: head"></head>
<body>

	<!--=== Top image and title ===-->
	<header>
		<!-- Center the content and all items using flexbox -->
		<div
			class="header-image header-image--small d-flex align-items-center justify-content-center"
			style="background: url(/images/guests/guests-header.jpg) no-repeat center center fixed;'">
			<h1 class="header-image__title u-font-script" data-aos="zoom-in"
				th:text="#{text.title.page.guests}"></h1>
		</div>
	</header>
	<!--== End of top image and title ==-->

	<!--=== Desktop navigation ===-->
	<div class="nav u-border-b-grey">
		<!-- All the elements of nav in the same row -->
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav-list">
					<!-- Logo the planner's ring -->
					<li><img class="m-2" src="/images/logo.png" alt=""></li>
					<!-- Home link -->
					<li><a href="/" class="nav-list__link fas fa-home"> </a></li>
					<!-- When & Where info link -->
					<li><a th:href="@{/boda}" class="nav-list__link"
						th:text="#{text.link.location}"></a></li>
					<!-- Memories link -->
					<li><a th:href="@{/galeria}" class="nav-list__link"
						th:text="#{text.link.gallery}"></a></li>
					<!-- RSVP link only authorize to user role -->
					<li sec:authorize="hasRole('ROLE_USER')"><a
						th:href="@{/invitados/rsvp}" class="nav-list__link"
						th:text="#{text.link.rsvp}"></a></li>
					<!--  wedding menu link, only authorize for the user that has the role ADMIN -->
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/menu}" class="nav-list__link"
						th:text="#{text.link.menu.wedding}"> </a></li>
					<!-- Edit wedding link, only authorize for the user that has the role ADMIN -->
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/editar-boda}" class="nav-list__link"
						th:text="#{text.link.edit.wedding}"></a></li>
					<!-- Budget wedding link, only authorize for the user that has the role ADMIN -->
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/presupuesto_boda/}" class="nav-list__link"
						th:text="#{text.link.budget}"></a></li>
					<!-- Link with the authenticated user and the button to logout -->
					<li sec:authorize="isAuthenticated()" class="dropdown show">
						<!-- Form to logout -->
						<form id="logoutForm" th:action="@{/logout}" method="post">
							<!-- send the form to the path / logout with the POST method
							and the CSRF token to log out -->
							<a onclick="document.getElementById('logoutForm').submit();"
								type="submit"><span class="text-uppercase mr-2"
								sec:authentication="name"></span> <ion-icon name="power"
									class="icon icon--sm icon--black"></ion-icon> </a>
							<!-- Crsrf token to logout in a safe way-->
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!--== End of desktop navigation ==-->

	<!--=== Mobile navigation ===-->
	<div class="mobile-nav">
		<div class="mobile-nav__menu">
			<!-- js-open-menu to open or close the menu with javascript -->
			<a href="#" class="js-open-menu"> <!-- Fixed the icon to the top -->
				<ion-icon name="menu"
					class="icon--md icon--black fixed-top icon-menu"></ion-icon>
			</a>
		</div>
		<!-- Fixed the list of the menu to the top -->
		<ul class="mobile-nav-list js-menu fixed-top">
			<!-- Home link -->
			<li><a href="/" class="mobile-nav-list__link fas fa-home"> </a></li>
			<!-- When & Where info link -->
			<li><a th:href="@{/boda}" class="mobile-nav-list__link"
				th:text="#{text.link.location}"></a></li>
			<!-- Memories link -->
			<li><a th:href="@{/galeria}" class="mobile-nav-list__link"
				th:text="#{text.link.gallery}"></a></li>
			<!-- RSVP link only authorize to user role -->
			<li sec:authorize="hasRole('ROLE_USER')"><a
				th:href="@{/invitados/rsvp}" class="mobile-nav-list__link"
				th:text="#{text.link.rsvp}"></a></li>
			<!--  wedding menu link, only authorize for the user that has the role ADMIN -->
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/menu}"
				class="mobile-nav-list__link" th:text="#{text.link.menu.wedding}">
			</a></li>
			<!-- Edit wedding link, only authorize for the user that has the role ADMIN -->
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a
				th:href="@{/editar-boda}" class="mobile-nav-list__link"
				th:text="#{text.link.edit.wedding}"> </a></li>
			<!-- Budget wedding link, only authorize for the user that has the role ADMIN -->
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a
				th:href="@{/presupuesto_boda/}" class="mobile-nav-list__link"
				th:text="#{text.link.budget}"> </a></li>
			<!-- Link with the authenticated user and the button to logout -->
			<li sec:authorize="isAuthenticated()">
				<!-- Form to logout -->
				<form id="logoutForm" th:action="@{/logout}" method="post">
					<!-- send the form to the path / logout with the POST method
					and the CSRF token to log out -->
					<a class="mobile-nav-list__link"
						onclick="document.getElementById('logoutForm').submit();"
						type="submit"> <span sec:authentication="name"></span> <ion-icon
							name="power" class="icon icon--sm icon--white ml-2"></ion-icon>
					</a>
					<!-- Crsrf token to logout in a safe way-->
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
				</form>
			</li>
		</ul>
	</div>
	<!--== End of mobile navigation ==-->

	<!-- Container to show the confirm message (i18n) when the user click the delete button -->
	<div id="delete_guest" class="close"
		th:text="#{text.confirm.delete.guest}" style="display: none;"></div>

	<!-- Contain the counter for number of confirmed guests, childs and adults -->
	<div class="container counter-section">
		<!-- Display the 3 counters in the same row -->
		<div class="row text-center">
			<!-- Total guests counter -->
			<div class="col-md-3 counter-box">
				<!-- Guests icon -->
				<div class="icon-box">
					<i class="fas fa-user-friends icon--md animation-counter"></i>
				</div>
				<!-- The counter -->
				<p class="counter" th:text="${total}"></p>
				<!-- The name of the counter -->
				<p th:text="'INVITADOS'"></p>
			</div>
			<!-- Total childs counter -->
			<div class="col-md-3 counter-box">
				<!-- Childs icon -->
				<div class="icon-box">
					<i class=" fas fa-child icon--md animation-counter"></i>
				</div>
				<!-- The counter -->
				<p class="counter" th:text="${childs}"></p>
				<!-- The name of the counter -->
				<p th:text="'NIÑOS'"></p>
			</div>
			<!-- Total adults counter -->
			<div class="col-md-3 counter-box">
				<!-- Adults icon -->
				<div class="icon-box">
					<i class="fas fa-male icon--md animation-counter"></i>
				</div>
				<!-- The counter -->
				<p class="counter" th:text="${adults}">590</p>
				<!-- The name of the counter -->
				<p th:text="'ADULTOS'"></p>
			</div>
		</div>
	</div>

	<!-- Only the user with USER role can view the table of confirmed guests -->
	<div sec:authorize="hasRole('ROLE_USER')" class="container">
		<img th:src="@{/images/guests/guests-image.jpg}" alt="" />
	</div>

	<!-- Only the user with ADMIN role can view the table of confirmed guests -->
	<!-- Contain the table with the list of confirmed guests -->
	<div sec:authorize="hasRole('ROLE_ADMIN')" class="container guest-list">
		<table class="table table-sm table-hover" id="guests">
			<!-- Names of colum -->
			<thead>
				<tr>
				<!-- The text of the columns i18N -->
					<th scope="col" th:text="#{text.name}"></th>					
					<th scope="col" th:text="#{text.email}"></th>
					<th scope="col" th:text="#{text.attendant}"></th>
					<th scope="col" th:text="#{text.suggestion}"></th>
					<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.delete.guest}"></th>
				</tr>
			</thead>
			<!-- fields of object ${guest} -->
			<tbody>
				<!-- For each guest in the list of guests, that obtains through the model with the key ${guests},
			 create a column for each property of guest -->
				<tr th:each="guest : ${guests}">
					<td th:text="${guest.name}"></td>					
					<td th:text="${guest.email}"></td>
					<td th:text="${guest.attend}"></td>
					<td th:text="${guest.suggestion}"></td>
					<!-- Link to delete a gest -->
					<td><a
						onclick="return confirm(document.getElementById('delete_guest').innerHTML);"
						th:href="@{/invitados/eliminar-invitado/} + ${guest.id}"><ion-icon
								name="trash" class="icon icon--sm icon--gold icon-trash ml-4"></ion-icon></a></td>
				</tr>
			</tbody>
		</table>
	</div>



	<!-- Insert the footer fragment for the footer from the layout template that is in the layout folder -->
	<footer th:replace="layout/layout :: footer"></footer>

	<!-- Insert the scripts fragment for the necesary scripts for index from the layout template that is in the layout folder -->
	<div th:replace="layout/layout :: scripts"></div>


	<!--Own Script for the counter of number of guests and apply the jquery plugin 'data table' for the table of guests -->
	<script type="text/javascript" th:src="@{/js/guests-and-tasks.js}"></script>

</body>
</html>