<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Page's title -->
<title th:text="#{text.security.error.500.title}"></title>

<!-- Bootstrap library -->
<link rel="stylesheet" th:href="@{/css/vendors/bootstrap.min.css}">

<!-- Own Styles -->
<link rel="stylesheet" th:href="@{/css/pageErrors.css}">
</head>
<body>

	<div class="container">
		<div class="notfound">
			<div class="notfound-message">
				<h1>Oops!</h1>
				<!-- Show the message error 404 Not found -->
				<h2
					th:text="#{text.security.error.500.message (${#authentication.name})}"></h2>
			</div>
			<!-- Redirect to the main page -->
			<div class="redirect">
				<a th:href="@{/}" th:utext="#{text.global.back}"></a>
			</div>
		</div>
	</div>
</body>
</html>